.blue.light {
  --background: 220 44% 100%;
  --foreground: 220 67% 0%;
  --muted: 220 39% 92%;
  --muted-foreground: 220 13% 27%;
  --popover: 220 44% 100%;
  --popover-foreground: 220 67% 0%;
  --card: 0 0% 99%;
  --card-foreground: 0 0% 0%;
  --border: 220 2% 93%;
  --input: 220 2% 93%;
  --primary: 220 66% 58%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 7% 91%;
  --secondary-foreground: 220 7% 31%;
  --accent: 220 13% 82%;
  --accent-foreground: 220 13% 22%;
  --destructive: 0 86% 45%;
  --destructive-foreground: 0 0% 100%;
  --ring: 220 66% 58%;
  --ring: 221.2 83.2% 53.3%;
}

.blue.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 224.3 76.3% 48%;
}
