.nord.light {
  --background: 208 36% 100%;
  --foreground: 208 51% 1%;
  --muted: 208 40% 85%;
  --muted-foreground: 208 10% 35%;
  --popover: 208 36% 100%;
  --popover-foreground: 208 51% 1%;
  --card: 0 0% 99%;
  --card-foreground: 208 51% 0%;
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --primary: 208 67% 75%;
  --primary-foreground: 208 67% 30%;
  --secondary: 208 15% 91%;
  --secondary-foreground: 208 15% 31%;
  --accent: 208 15% 91%;
  --accent-foreground: 208 15% 31%;
  --destructive: 4 99% 32%;
  --destructive-foreground: 4 99% 92%;
  --ring: 208 67% 90%;
}

.nord.dark {
  --background: 208 57% 0%;
  --foreground: 208 21% 99%;
  --muted: 208 40% 15%;
  --muted-foreground: 208 10% 65%;
  --popover: 208 57% 0%;
  --popover-foreground: 208 21% 99%;
  --card: 0 0% 1%;
  --card-foreground: 0 0% 100%;
  --border: 215 27.9% 16.9%;
  --input: 215 27.9% 16.9%;
  --primary: 208 67% 90%;
  --primary-foreground: 208 67% 30%;
  --secondary: 208 6% 10%;
  --secondary-foreground: 208 6% 70%;
  --accent: 208 6% 10%;
  --accent-foreground: 208 6% 70%;
  --destructive: 4 99% 46%;
  --destructive-foreground: 0 0% 100%;
  --ring: 208 67% 90%;
}
