.old.light {
  --background: 116 35% 99%;
  --foreground: 116 62% 1%;
  --muted: 116 10% 85%;
  --muted-foreground: 116 14% 28%;
  --popover: 116 35% 99%;
  --popover-foreground: 116 62% 1%;
  --card: 116 35% 98%;
  --card-foreground: 116 62% 0%;
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --primary: 116 21% 73%;
  --primary-foreground: 116 21% 13%;
  --secondary: 116 9% 80%;
  --secondary-foreground: 116 9% 20%;
  --accent: 116 18% 72%;
  --accent-foreground: 116 18% 12%;
  --destructive: 7 98% 22%;
  --destructive-foreground: 7 98% 82%;
  --ring: 116 21% 73%;
  --radius: 0.5rem;
}

.old.dark {
  --background: 116 52% 3%;
  --foreground: 116 39% 98%;
  --muted: 116 10% 15%;
  --muted-foreground: 116 14% 72%;
  --popover: 116 52% 3%;
  --popover-foreground: 116 39% 98%;
  --card: 116 52% 4%;
  --card-foreground: 116 39% 99%;
  --border: 215 27.9% 16.9%;
  --input: 215 27.9% 16.9%;
  --primary: 116 21% 73%;
  --primary-foreground: 116 21% 13%;
  --secondary: 116 3% 19%;
  --secondary-foreground: 116 3% 79%;
  --accent: 116 11% 24%;
  --accent-foreground: 116 11% 84%;
  --destructive: 7 98% 46%;
  --destructive-foreground: 0 0% 100%;
  --ring: 116 21% 73%;
}
